a{color:blue;text-decoration:none;cursor:pointer;border:0;outline:0}
a:visited{color:blue}
a:hover{color:green}
details,summary{outline:0}
body{font-size:16px;font-family:Georgia;color:#333;background:#F5F5F5 url(../images/bg.png);margin:0;
padding:0;text-align:center}
article{width:1000px;background:white;text-align:left;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:10px;padding:50px;border-radius:10px;box-shadow:0 0 10px #000}
header *{margin:0;padding:0;font-weight:normal}
header div{float:left}
header div h1{font-size:40px;line-height:60px;margin-top:0px;}
header div h1 small{display:none}
header div h2{font-size:17px;line-height:20px}
header aside{float:right;margin-bottom:15px;}
header aside section{float:right;margin-top:10px;text-align:right;line-height:14px}
header aside h1{font-size:12px}
header aside h1 small{font-size:12px;display:block}
header aside h2{font-size:12px;font-weight:bold}
article section{clear:both;line-height:30px;}
section h1{font-size:28px;margin-top:10px;}
section section h1{font-size:24px;}
section section h2{font-size:20px}
label{background-color:orange;border-radius:1000px;box-sizing:border-box;color:white;display:inline;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif, Fangsong;font-size:12px;font-weight:normal;line-height:12px;margin:0;padding:1px 7px 1px 7px;text-align:center;text-decoration:none;white-space:nowrap;width:auto}
table {border-spacing: 10px 1.5rem;}
td {line-height: 1.5em; vertical-align: middle;}

.liame{color:blue;list-style:none;display:inline;margin:0;padding:0}
.liame li{display:inline}
.liame li img{display:none}
.ribbon{position:absolute;top:0;right:0;border:0}
ol li em{font-style:normal;font-weight:bold}
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 10px;
    width: 110px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #2C2C2C;
    text-decoration: none;
    border: 1px solid #CCCCCC;
}
.back-to-home {
    position: fixed;
    right: 150px;
    bottom: 10px;
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #2C2C2C;
    text-decoration: none;
    border: 1px solid #CCCCCC;
}
